body {
  font-family: 'Poppins', sans-serif;
  background-color: #2c2f33;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #26282e;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.header-left {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.header-right {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.btn-group {
  display: flex;
}

.container {
  text-align: center;
  background-color: #26282e;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  width: 100%;
  transition: background-color 0.3s ease;
}

input,
button {
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  margin: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

input {
  background-color: #2c2f33;
  color: #fff;
  width: 300px; /* Add this line */
}

button {
  background-color: #5865F2;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #4c57c0;
}

.server-info-header {
  display: center;
  flex-direction: row;
}

#serverIcon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 20px;
}

.counter-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.counter {
  background-color: #5865F2;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter h3 {
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 10px;
  text-align: center;
}

.counter span {
  font-size: 24px;
  font-weight: bold;
}

.timer-container {
  text-align: center;
  margin-top: 20px;
}

#countdownTimer {
  font-size: 14px;
  padding: 5px 10px;
  background-color: #26282e;
  border-radius: 5px;
  color: #ccc;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.hidden {
  display: none;
}

footer {
  margin-top: 30px;
  padding-bottom: 20px;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #5865F2;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
  background-color: #4c57c0;
}

.btn i {
  margin-right: 8px;
}

/* Theme Switch */
.theme-switch {
  display: flex;
  align-items: center;
}

.theme-icon {
  font-size: 20px;
  margin: 0 5px;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5865F2;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #5865F2;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Light Theme */
body.light {
  background-color: #f0f0f0;
  color: #333;
}

body.light header {
  background-color: #fff;
}

body.light .container {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

body.light input {
  background-color: #e6e6e6;
  color: #333;
}

body.light button {
  background-color: #75865F2;
  color: #fff;
}

body.light button:hover {
  background-color: #4c57c0;
}

body.light .counter {
  background-color: #e6e6e6;
  color: #333;
}

body.light #countdownTimer {
  background-color: white;
  color: #333;
}

body.light .btn {
  background-color: #5865F2;
  color: #fff;
}

body.light .btn:hover {
  background-color: #4c57c0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-right {
    width: 100%;
    margin-bottom: 10px;
    justify-content: center;
  }

  .header-left {
    width: 100%;
    justify-content: center;
  }

  .btn-group {
    flex-wrap: wrap;
    justify-content: center;
  }

  .btn {
    margin: 5px;
  }

  .counter-container {
    flex-direction: column;
    align-items: center;
  }
}